.c-titleBox{
	text-align: center;
	width: 26%;
	margin: 0 auto;
	background: linear-gradient(-45deg,#EC6B71 0%,#EC6B71 42%,#D94E41 42%,#D94E41 100%);
	box-shadow: 12px 12px 0px 0 #E6E6E6;
}//c-titleBox
.c-titleBox__title{
	color: #fff;
	font-size: 25px;	
	padding: 8% 10% 8% 10%;
	letter-spacing: 5px;
	font-weight: normal;
}//c-titleBox__title
.c-fooerSpan{
	display: block;
}//c-fooerSpan