.container{
	width: 100%;
	max-width: 1124px;
	margin: 0 auto;
	position: relative;
	
}//container

.l-middleTop{
	width: 100%;	
	background-color: #fff;
}//l-middleTop

.l-middleTop__container{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}//l-middleTop__container